<ion-header class="no-shadow">
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="list" text="" icon="arrow-back" color="light" ></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fill">
  <ion-row class="about-wrap">
    <ion-col style="padding-bottom: 100px;">
      <ion-row>
        <img src="../assets/icon/navbar.png" class="logo"/>
      </ion-row>
      <ion-row>
        <ion-label class="version-text">{{lang ? 'Хувилбар 1.0' : 'Version 1.0'}}</ion-label>
      </ion-row>
    </ion-col>
  </ion-row>
  
</ion-content>