.no-shadow:after, .no-shadow, .no-shadow:before{
    background-image: none !important;
}

.menu{
    --background: var(--ion-color-primary, #4C89C8);
}

.wrap-logo {
    width: 100%;
    background-color: var(--ion-color-primary, #4C89C8);
    margin: 0px;
    padding-top: 15px;
}

.logo {
    width: 95%;
    margin: 10px auto;
    align-self: center;
}

.menu-list {
    background: var(--ion-color-primary, #4C89C8);
}

.menu-list-item {
    --background: var(--ion-color-primary, #4C89C8);
    color: var(--ion-color-primary-contrast, #ffffff);
}

.lang-control {
    background: var(--ion-color-danger, #f04141);
    padding: 0 10px;
    border-radius: 20px;
    margin-left: 0px;
}

.lang-text {
    align-self: center;
}


//DETAIL PAGE
.main {
    height: auto;
    width: 100%;
    padding: 15px 15px 10px 15px;
}
.key-word {
    font-weight: bold;
}

.favBtn {
    text-align: right;
    height: 100%;
}

.mon-word {
    padding: 5px 25px;
}

.desc {
    padding: 5px 25px;
    color: var(--ion-color-dark-tint, #383a3e);
    font-style: italic;
}

//Jagsaalt delgetsuud

.list-mon {
    padding-left: 10px;
}