<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row>
    <ion-col size="2"></ion-col>
    <ion-col size="8">
      <ion-searchbar mode="ios" animated placeholder="Хайх" (ionChange)="search($event)" color="light"></ion-searchbar>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
</ion-header>

<ion-content>

  <ion-list *ngIf="index > 0">
    <ion-item *ngFor="let item of displayWords">
      <ion-label text-wrap>
        <ion-text>
          <h3>{{item.eng ? item.eng : item.abb}}</h3>
        </ion-text>
        <p *ngIf="item.mon">{{item.mon}}</p>
        <ion-text>
          <p>{{item.eng_desc ? item.eng_desc : (item.mon_desc ? item.mon_desc : desc)}}</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="130px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
