<ion-header class="no-shadow">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row>
    <ion-col size="2"></ion-col>
    <ion-col size="8">
      <ion-searchbar mode="ios" animated placeholder="Search" (ionChange)="search($event)" color="light"></ion-searchbar>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
</ion-header>

<ion-content>

  <ion-list *ngIf="index > 0">
    <ion-item *ngFor="let item of displayWords" [routerDirection]="'forward'" [routerLink]="'/detail/' + item.id">
      <ion-label text-wrap>
        <ion-text class="key-word">
          <h3>{{item.abb ? item.abb : item.eng}}</h3>
        </ion-text>
        <p class="list-mon" *ngIf="item.mon">{{item.mon}}</p>
        <!-- <ion-text>
          <p>{{item.eng_desc ? item.eng_desc : (item.mon_desc ? item.mon_desc : desc)}}</p>
        </ion-text> -->
      </ion-label>
    </ion-item>
  </ion-list>
  <div *ngIf="index == 0" class="no-result">
    <img src="../../assets/icon/no-result.svg" class="no-result-img">
    <ion-label>NO RESULT</ion-label>
  </div>

  <ion-infinite-scroll threshold="130px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
