<ion-header class="no-shadow">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="list" text="" icon="arrow-back" color="light" ></ion-back-button>
    </ion-buttons>
    <ion-title>{{lang ? 'Таалагдсан' : 'Favorite'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="listLength > 0">
    <div *ngFor="let favorite of favorites">
      <ion-item-divider color="primary">
        <ion-label>
          {{favorite[0].viewed_time}}
        </ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let item of favorite" [routerDirection]="'forward'" [routerLink]="'/detail/'+item.id">
        <ion-label text-wrap>
          <ion-text class="key-word">
            <h3>{{item.abb ? item.abb : item.eng}}</h3>
          </ion-text>
          <p class="list-mon" *ngIf="item.mon">{{item.mon}}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
